*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}
header{
    display : inline;
    
}

#content{
    float: left ;
    width: 75%;
}
main{
    padding: 20px;
    overflow: auto;
}

.jumbotron{
    font-size: 20px;
    padding: 60px;
    background-color: mediumblue;
    text-align: center;
    color: white;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

h2, h3  {
    color: #00a2c6 
}

a:link{
    color: white;
    
}

a:hover{
    color:red;
}

nav a{

    font-size: 18px ;
    font-weight: 400;
    text-decoration: none;
    color: white;

}

nav a:hover {
    font-weight: bold;
}
.profile{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
.profile header{
    text-align: left;
   
}


nav li{
    display: inline;
    margin-right: 20px;
    list-style-type: none;
}
nav{
    background-color: midnightblue;
    padding: 5px;
    position: sticky;
    top    :0;
    
}

.featured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;

}
#sejarah img{
    width: 900px;
    height: 400px;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px ;
}

@media screen and (max-width: 1000px) {
    #content,
    aside{
        width: 100%;
        padding: 0;
    }
}

footer{
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}